---
Language:        Cpp
BasedOnStyle:  Google
IndentWidth:     4
PointerAlignment: Left
AccessModifierOffset: -4
BreakBeforeBraces: Allman

SortIncludes: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^"*'
    Priority:        1
  - Regex:           '^(<|"(boost)/)'
    Priority:        2
  - Regex:           '<spdlog\/spdlog\.h>'
    Priority:        3
  - Regex:           '^<.*'
    Priority:        4
  - Regex:           '.*'
    Priority:        5

ColumnLimit:     0
ReflowComments:  false
BinPackArguments: true
BreakStringLiterals: false
BreakBeforeBinaryOperators: NonAssignment

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false

IndentCaseLabels: false
NamespaceIndentation: None

AlignTrailingComments: true
AlignOperands: true
AlignAfterOpenBracket: true
...

